.venv/
__pycache__/
node_modules
.env 
secret.key 
sadaf_wallet.json 
fraud_attempts.log 
*.h5 
*.tflite 
*.pt 
*.db
receipts/
rejection_logs.log
dataset/uploads/
activity_locations.db
evolution.db
ecox_main.db
gaiavolt_users.db
fingerprints.db"*.onnx" 
"*.pb"   
"temp_model_dir/" 
"dataset/" 
