tensorflow==2.16.1
torch==2.3.0
torchvision==0.18.0
onnx==1.16.0
onnxruntime==1.17.1
tf2onnx==1.16.1
safetensors==0.4.3
opencv-python-headless==4.9.0.80
numpy==1.26.4
absl-py==2.1.0
h5py==3.11.0
easyocr==1.7.1
albumentations==1.4.3
Pillow==10.3.0